.InnerGrid{
    height:33.3vh;
}

.InnerGridInput{
    height:5vh;
}

.InnerGridMain{
    height:61.6vh;
}

.InnerGridMainParent{
    margin-top:-27.3vh!important;
}

p{
    margin:0px;
}

.MainInfoLogo{
    height: 13vh!important;
}

.MuiInputBase-input{
    color:black!important;
    text-align:center;
}

.success{
    color: green!important;
    border: 2px solid green!important;
}

.fail{
    color: red!important;
    border: 2px solid red!important;
}

#root > div{
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    height: 100vh;
}

#Title{
    color:black;
    font-size: 100px
}

#root > div > div > div:nth-child(9) > div > h4{
    float:left;
}

#root > div > div > div.MuiGrid-root.InnerGridMainParent.MuiGrid-item.MuiGrid-grid-xs-4{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#root > div > div > div.MuiGrid-root.InnerGridMainParent.MuiGrid-item.MuiGrid-grid-xs-4 > div > h3{
    font-size:50px;
    text-align: center;
}

#root > div > div > div.MuiGrid-root.InnerGridMainParent.MuiGrid-item.MuiGrid-grid-xs-4 > div > h4{
    font-size:40px;
    text-align: center;
}